@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Passions+Conflict&family=Roboto+Slab:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-manu {
  background-image: url(../src/img/bg-luana.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 665px;

}

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  font-size: 50px;
  color: #fff;
  font-family: 'Passions Conflict', cursive;
  font-weight: 300;
}

.link-menu {
  font-family: 'Roboto Slab', serif;
  margin-right: 15px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.menu-item {
  list-style: none;
}

.redes-sociais {
  display: flex;
}

.menu-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.titulo-page {
  font-family: 'Roboto Slab', serif;
  font-size: 70px;
  margin-top: 15px;
  color: #373636;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lua-img {
  border-radius: 50%;
  background-color: #fff;
  width: fit-content;
}

.img-luana {
  width: 300px;
  border-radius: 50%;
  transform: translate(4px, -4px);
}

.title-resumo {
  font-size: 22px;
  margin-top: 15px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 10px;
  color: #373636;
  text-align: center;
}

.text-resumo {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: center;
  width: 1000px;
  font-weight: 400;
  color: #373636;
}

.sobre-contato {
  background-image: url(../src/img/bg-luana2.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 719px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-curriculo {
  padding: 7px 14px;
  border: none;
  background-color: rgb(209, 72, 211);
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  margin-top: 60px;
  text-decoration: none;
}


.titulo-geral {
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #373636;
  padding: 20px;
  text-align: center;
}

.text-geral {
  width: 467px;
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  line-height: 30px;
  margin-top: 10px;
  color: #373636;
}

.contato {
  width: 268px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-contato {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
  line-height: 20px;
  color: #373636;
}

.macbook-contato {
  width: 540px;
  margin-left: -263px;
}

.conhecimentos {
  display: flex;
  padding: 40px;
}

.img-detalhes {
  width: 164px;
  height: 18px;
}

.conhecimentos-experiencia {
  display: flex;
  justify-content: space-around;
  background-color: #fff6fc;
  height: 493px;

}

.meus-conhecimentos {
  width: 100%;
  width: 100%;
  background-color: #000000;
  padding: 30px;
  padding-bottom: 30px;
}

.list-conhecimentos {
  text-align: center;
  margin-left: 50px;
}

li {
  list-style: none;
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  color: #373636;
  padding: 4px
}


.title-tecnologia {
  font-size: 17px;
  font-family: 'Roboto Slab', serif;
  color: #373636;
  padding: 4px
}

.experiencia-profissional {
  width: 100%;
  background-color: #fff;
  padding: 30px;
}

.titulo-experiencia {
  display: flex;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  margin-bottom: 40px;
}


.text-experiencia {
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
}

.empresa {
  display: flex;
  align-items: center;
}

.img-empresa {
  width: 160px;
  margin-right: 30px;
}

.texto-empresa {
  flex: 1;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  margin-top: 20px;
}

.titulo-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 42px;
}

.footer-direitos {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(247, 181, 255, 1) 54%, rgba(255, 86, 252, 1) 100%);
  padding: 30px;
}

.direitos {
  font-family: 'Roboto Slab', serif;
  color: #fff;
  display: flex;
  justify-content: center;
}


@media (max-width: 1024px) {
  .navbar-manu {
    padding: 10px;
  }

  .img-luana {
    width: 200px;
  }

  .title-resumo {
    font-size: 20px;
  }

  .text-resumo {
    width: 100%;
    height: 100%;
  }

  .menu {
    display: none;
  }

  .redes-sociais .menu-item {
    margin-right: 20px;
  }

  .logo {
    font-size: 45px;
  }

  .titulo-page {
    font-size: 38px;
  }

  .titulo-geral {
    font-size: 22px;
  }

  .macbook-contato {
    display: none;
  }

  .sobre-contato {
    flex-direction: column;
    padding: 10px;
  }

  .btn-curriculo {
    margin-top: 10px;
  }

  .text-geral {
    width: 100%;
  }

  .conhecimentos-experiencia {
    height: 100%;
  }

  .empresa {
    flex-direction: column;
  }

  .texto-empresa {
    font-size: 16px;
  }

  .conhecimentos {
    display: flex;
    padding: 10px;
    flex-direction: column;
  }

  .direitos {
    text-align: center;
  }

}